.container {
    height: 200px;
    width: 800px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
}
  
.post_id {
    font-size: 22px;
    margin-bottom: 20px;
}
  
.title {
    font-size: 18px;
}

.truncate {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }
  